{% extends "base.html" %}

{% block title %}服务器内部错误{% endblock title %}

{% block style %}
<style>
    article {
        position: fixed;
        top: var(--nav-height);
        left: 0;
        width: 100%;
        margin: 0;
    }

    h1 {
        margin: 20px 0;
        text-align: center;
    }

    .back-index {
        display: block;
        max-width: 200px;
        margin: 0 auto;
    }
</style>
{% endblock style %}

{% block content %}
<article>
    <header>
        <h1>
            500
            <br>
            服务器内部错误
        </h1>
    </header>
    <a href="{{ url_for('index') }}" role="button" class="back-index">返回主页</a>
</article>
{% endblock content %}

{% block javascript %}
{% endblock javascript %}